
.divApresentacao, .divFoto, .main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.divApresentacao{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divApresentacao>p{
padding-top: 20px;
font-size: 20px;
text-align: center;
}

.divFoto{
    align-items: center;
    justify-content: center;
}

.icon{
    position: fixed;
}

@media (max-width: 600px) {
    
}